{% extends '::frontend.html.twig' %}
{% block title %} Bienvenido {% endblock %}
{% block id 'index' %}
{% block article %} <div class="inner cover" align="center">
        <h1 class="cover-heading">Fixture</h1>
        <p class="lead">Resultados de la copa america</p>
			   <p class="lead">
              
            </p>
      </div>
<hr>
	   {% endblock %}
{% block aside %} ... {% endblock %}