{% extends '::frontend.html.twig' %}
{% block title %} Bienvenido {% endblock %}
{% block id 'index' %}
{% block article %} <div class="inner cover" align="center">
        <h1 class="cover-heading">Reglamento</h1>
        <p class="lead">Reglamento de la PROMO COPA AMERICA</p>
			   <p class="lead">
              
            </p>
      </div>
<hr>
	  <div class="row">
		

		
      </div>	 {% endblock %}
{% block aside %} ... {% endblock %}