{# src/Cupon/UsuarioBundle/Resources/views/Default/cajaLogin.html.twig
#} {% if is_granted('ROLE_USUARIO') %} {# include
':includes:flashes.html.twig' #}

<font color="#ffc303">Hola <b>{{ usuario.nombre }}</b></font> <span class="caret">
              </span></a>


{% endif %}

