{# src/Cupon/UsuarioBundle/Resources/views/Default/registro.html.twig #}
{% extends '::frontend.html.twig' %} {% block id 'usuario' %} {% block
title %}Felicitaciones!{% endblock %} {% block article %}
<style>
.detalle {
	font-family: lucida sans unicode;
	font-size: 15px;
	width: 100%;
}
</style>
<table cellspacing="5" cellpadding="5" border="0" width="580">
	<tr>
		<td class="titulos" colspan="9">CUENTA ACTIVADA</td>
	</tr>
	<tr>
		<td class="detalle">Felicitaciones, su cuenta fue activada, para comenzar a partcipar debe ingresar su Email y contrase&ntilde;a en el recuadro de la derecha.<br></td>
	</tr>
</table>

{% endblock %}
