<table cellspacing="5" cellpadding="5" border="0" width="580">
	<tr>
		<td align="left">
		<img src="http://segurviajeesmundial.com/images/encabezado_mail.jpg"/>
		</td>
	</tr>
</table>
<table cellspacing="1" cellpadding="1" border="0" width="580">

	<tr>
		<td>
	Felicitaciones {{ usuario.nombre }},<br><br>
	Tu usuario ya se encuentra activo para participar de la Promoci&oacute;n Mundial Brasil 2014 de SEGURVIAJE. Comienza a vender para acumular puntos por tus ventas y ganar importantes premios instant&aacute;neos.<br><br>
Para ganar m&aacute;s puntos con tus aciertos en el Mundial, completa tu pron&oacute;stico con los resultados de la primera ronda o a medida que lo desees. Recuerda que para completar el resultado tienes tiempo hasta las 24 hs del d&iacute;a anterior al encuentro seleccionado. Para la segunda ronda deber&aacute;s esperar hasta que est&eacute;n los clasificados en cada ronda. Para completar tu jugada, haz <a href="http://www.uy.segurviajeesmundial.com/miprode" target="_blank">click aqui</a> e ingresa completando con tu mail y clave en el &aacute;rea de logueo. 
<br><br>
Te deseamos muchos &eacute;xitos!!!
<br><br>
Coordiales Saludos,<br>
<b>El equipo de SEGURVIAJE</b>
	</td></tr>
</table>
