<table cellspacing="5" cellpadding="5" border="0" width="580">
		<tr>
		<td align="left">
		<img src="http://segurviajeesmundial.com/images/encabezado_mail.jpg"/>
		</td>
	</tr>
</table>
<table cellspacing="1" cellpadding="1" border="0" width="580">
	
	<tr>
		<td>Felicitaciones {{ usuario.nombre }}, <br><br>Estas a un paso de participar de la Promoci&oacute;n Segurviaje es Mundial Brasil 2014. Estamos validando sus datos y dentro de las pr&oacute;ximas 24 hs, recibira un e-mail con las indicaciones para poder participar y comenzar a jugar.
Muchas gracias<br><br><b>El equipo de SEGURVIAJE</b>
	</td>
	</tr>
</table>
