<table cellspacing="5" cellpadding="5" border="0" width="580">
		<tr>
		<td align="left">
		<img src="http://segurviajeesmundial.com/images/encabezado_mail.jpg"/>
		</td>
	</tr>
</table>
<table cellspacing="1" cellpadding="1" border="0" width="580">
	
	<tr>
		<td>Felicitaciones {{ usuario.nombre }}, <br>Usted est&aacute; a un paso de participar del gran prode de MAPFRE, para comenzar valide su cuenta haciendo 
	<a href="http://www.{{ pais }}.segurviajeesmundial.com/activar?i={{ usuario.id }}&t={{ usuario.salt }} ">click aqui</a><br><br>
	Saludos,
	</td>
	</tr>
</table>
