{# src/Cupon/UsuarioBundle/Resources/views/Default/cajaLogin.html.twig
#}
<style>


.btn_cajaMundial {
	color: #c3c3c3;
	font-weight: bold;
	text-decoration: none;
}

.btn_cajaMundial:HOVER {
	color: #000;
}

.borde_cajaMundial {
	border: 1px solid #000;
}
</style>
<div id="header_conf">
	<nav>
		<ul>
			<li><a href="{{ path('ventas_portada') }}" class="btn_cajaMundial">VENTAS</a></li>
			<li></li>
			

		</ul>
	</nav>
</div>
